<h1>Delivery Archive 03</h1>
{% capture deliverymapurl %}https://mapsengine.google.com/map/edit?mid=zCTdH3urs1Xw.kIzhTyXM8yAM{% endcapture %}
{% include 'global-christmas-message' %}

<h2>Delivery Locations</h2>

<hr>

<h3>South East Queensland</h3>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Delivery time:</td>
					<td>10 business days</td>
				</tr>
				<tr>
					<td colspan="2"><b>Delivery Options</b></td>
				</tr>
				<tr>
					<td><a href="#">Pick up from our workshop</a></td>
					<td>Free</td>
				</tr>
				<tr>
					<td><a href="#">Delivery to your address</a></td>
					<td>$55 per order (incl GST)</td>
				</tr>
				<tr>
					<td colspan="2"><b>Includes</b></td>
				</tr>
				<tr>
					<td>Sunshine Coast</td>
					<td>Brisbane</td>
				</tr>
				<tr>
					<td>Ipswich</td>
					<td>Gatton</td>
				</tr>
				<tr>
					<td>Beaudesert</td>
					<td>Gold Coast</td>
				</tr>
				<tr>
					<td>Coolangatta</td>
					<td>Tweed Heads</td>
				</tr>
			</tbody>
		</table>
		<p><a href="{{ deliverymapurl }}" class="btn btn-primary" role="button">View in Google Maps</a></p>
	</div>
	<div class="col-sm-6">
		<a target="_blank" href="{{ deliverymapurl }}">
			<img class="thumbnail img-responsive mb12" src="//cdn.shopify.com/s/files/1/0232/0475/files/south-east-queensland.jpg?9788" alt="South East Queensland Delivery Areas" title="South East Queensland Delivery Areas">
		</a>
	</div>
</div>

<hr>

<h3>New South Wales - 01</h3>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Delivery time:</td>
					<td>10 business days</td>
				</tr>
				<tr>
					<td colspan="2"><b>Delivery Options</b></td>
				</tr>
				<tr>
					<td><a href="#">Pick up from our workshop</a></td>
					<td>Free</td>
				</tr>
				<tr>
					<td><a href="#">Delivery to your address</a></td>
					<td>$55 per order (incl GST)</td>
				</tr>
				<tr>
					<td colspan="2"><b>Includes</b></td>
				</tr>
				<tr>
					<td>Kingscliff</td>
					<td>Byron Bay</td>
				</tr>
				<tr>
					<td>Ballina</td>
					<td>Lismore</td>
				</tr>
				<tr>
					<td>Grafton</td>
					<td>Yamba</td>
				</tr>
				<tr>
					<td>Woolgoolga</td>
					<td>Coffs Harbou</td>
				</tr>
			</tbody>
		</table>
		<p><a href="{{ deliverymapurl }}" class="btn btn-primary" role="button">View in Google Maps</a></p>
	</div>
	<div class="col-sm-6">
		<a target="_blank" href="{{ deliverymapurl }}">
			<img class="thumbnail img-responsive mb12" src="//cdn.shopify.com/s/files/1/0232/0475/files/new-south-wales-01.jpg?9788" alt="New South Wales 01 Delivery Areas" title="New South Wales 01 Delivery Areas">
		</a>
	</div>
</div>

<hr>

<h3>New South Wales - 02</h3>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Delivery time:</td>
					<td>10 business days</td>
				</tr>
				<tr>
					<td colspan="2"><b>Delivery Options</b></td>
				</tr>
				<tr>
					<td><a href="#">Pick up from our workshop</a></td>
					<td>Free</td>
				</tr>
				<tr>
					<td><a href="#">Delivery to your address</a></td>
					<td>$55 per order (incl GST)</td>
				</tr>
				<tr>
					<td colspan="2"><b>Includes</b></td>
				</tr>
				<tr>
					<td>Urunga</td>
					<td>Nambucca Heads</td>
				</tr>
				<tr>
					<td>Kempsey</td>
					<td>Port Macquarie</td>
				</tr>
				<tr>
					<td>Wauchope</td>
					<td>Taree</td>
				</tr>
				<tr>
					<td>Forster</td>
					<td>Bulahdelah</td>
				</tr>
			</tbody>
		</table>
		<p><a href="{{ deliverymapurl }}" class="btn btn-primary" role="button">View in Google Maps</a></p>
	</div>
	<div class="col-sm-6">
		<a target="_blank" href="{{ deliverymapurl }}">
			<img class="thumbnail img-responsive mb12" src="//cdn.shopify.com/s/files/1/0232/0475/files/new-south-wales-02.jpg?9788" alt="New South Wales 02 Delivery Areas" title="New South Wales 02 Delivery Areas">
		</a>
	</div>
</div>

<hr>

<h3>New South Wales - 03</h3>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>Delivery time:</td>
					<td>10 business days</td>
				</tr>
				<tr>
					<td colspan="2"><b>Delivery Options</b></td>
				</tr>
				<tr>
					<td><a href="#">Pick up from our workshop</a></td>
					<td>Free</td>
				</tr>
				<tr>
					<td><a href="#">Delivery to your address</a></td>
					<td>$55 per order (incl GST)</td>
				</tr>
				<tr>
					<td colspan="2"><b>Includes</b></td>
				</tr>
				<tr>
					<td>Maitland</td>
					<td>Newcastle</td>
				</tr>
				<tr>
					<td>Parramatta</td>
					<td>Liverpool</td>
				</tr>
				<tr>
					<td>Campbelltown</td>
					<td>Hurstville</td>
				</tr>
				<tr>
					<td>Sydney</td>
					<td>Wollongong</td>
				</tr>
			</tbody>
		</table>
		<p><a href="{{ deliverymapurl }}" class="btn btn-primary" role="button">View in Google Maps</a></p>
	</div>
	<div class="col-sm-6">
		<a target="_blank" href="{{ deliverymapurl }}">
			<img class="thumbnail img-responsive mb12" src="//cdn.shopify.com/s/files/1/0232/0475/files/new-south-wales-03.jpg?9788" alt="New South Wales 03 Delivery Areas" title="New South Wales 03 Delivery Areas">
		</a>
	</div>
</div>