{% include 'collection-variables' %}

<div class="row door-heights">
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-door-categories-2100h.png' | asset_url }}" title="Up to 2100mm high">
            <div class="caption">
                <h4>Up to 2100mm high</h4>
                <p>
                    <a class="btn btn-primary" href="{{ doorurl }}/2100h" alt="Up to 2100mm high">Choose this height</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-door-categories-2400h.png' | asset_url }}" title="2100mm to 2400mm high">
            <div class="caption">
                <h4>2100mm to 2400mm high</h4>
                <p>
                    <a class="btn btn-primary" href="{{ doorurl }}/2400h" alt="2100mm to 2400mm high">Choose this height</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-door-categories-2700h.png' | asset_url }}" title="2400mm to 2700mm high">
            <div class="caption">
                <h4>2400mm to 2700mm high</h4>
                <p>
                    <a class="btn btn-primary" href="{{ doorurl }}/2700h" alt="2400mm to 2700mm high">Choose this height</a>
                </p>
            </div>
        </div>
    </div>
</div>