<header>
    <div class="page-header">
        <h1>DIY Wardrobes &amp; Shelving</h1>
        <p class="lead">Imagine a space which is organised just the way you like it. Our wardrobes are durable and attractive, offering immediate satisfaction and raising the value of your home.</p>
    </div>
</header>

<h2>Features &amp; Benefits</h2>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'diy-built-in-wardrobe-01.jpg' | asset_img_url: 'master' }}" alt="Maximise your space" title="Maximise your space">
            <div class="caption">
                <h4>Maximise your space</h4>
                <p>Our wardrobe system can be adapted to any space. Built in wardrobes and walk in wardrobes can be created or optimised with ease and both large and small areas are used to their full potential to meet your storage needs.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'wardrobe-drawers-02.jpg' | asset_img_url: 'master' }}" alt="You're in control" title="You're in control">
            <div class="caption">
                <h4>Everything is custom made</h4>
                <p>Our wardrobes are not mass produced - every wardrobe is custom made to your unique requirements. This puts you in control and ensures that the finished product is exactly what you need.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'diy-wardrobe-installation.jpg' | asset_img_url: 'master' }}" alt="Easy installation" title="Easy installation">
            <div class="caption">
                <h4>Easy installation</h4>
                <p>Our unique wall suspension system ensures that your wardrobes can be installed with a minimum of fuss and disruption. All shelving and components are cut to size so all you need to do is put them together.</p>
            </div>
        </div>
    </div>
</div>

<hr>

<h2>Find prices, designs &amp; order online</h2>
<p class="lead">Choose the wardrobe category which best matches your wardrobe opening:</p>

<div class="row wardrobe-types text-center mb12">
    <div class="col-md-6 mb12">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-wardrobe-categories-standard.png' | asset_img_url: 'large' }}" title="Standard Opening">
            <div class="caption">
                <h4>Standard Opening</h4>
                <p>You have an existing wardrobe opening which requires shelving only. <br>&nbsp;</p>
                <p>
                    <a class="btn btn-small btn-primary" href="{{ wardrobeurl }}/standard" alt="Standard Opening">
                        Select this opening
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb12">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-wardrobe-categories-straight.png' | asset_img_url: 'large' }}" title="Straight Wall">
            <div class="caption">
                <h4>Straight Wall</h4>
                <p>You have an existing straight wall which requires shelving and panels either side to enclose the wardrobe.</p>
                <p>
                    <a class="btn btn-small btn-primary" href="{{ wardrobeurl }}/straight" alt="Straight Wall Opening">
                        Select this opening
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb12">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-wardrobe-categories-lcnr.png' | asset_img_url: 'large' }}" title="Corner Opening - Left">
            <div class="caption">
                <h4>Corner Opening (Left)</h4>
                <p>You have an existing corner to the left which requires shelving and a panel on the right hand side to enclose the wardrobe.</p>
                <p>
                    <a class="btn btn-small btn-primary" href="{{ wardrobeurl }}/lcnr" alt="Corner Opening - Left">
                        Select this opening
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb12">
        <div class="thumbnail">
            <img class="img-responsive" src="{{ 'collection-wardrobe-categories-rcnr.png' | asset_img_url: 'large' }}" title="Corner Opening - Right">
            <div class="caption">
                <h4>Corner Opening (Right)</h4>
                <p>You have an existing corner to the right which requires shelving and a panel on the left hand side to enclose the wardrobe.</p>
                <p>
                    <a class="btn btn-small btn-primary" href="{{ wardrobeurl }}/rcnr" alt="Corner Opening - Right">
                        Select this opening
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<hr>

<h4>Don't see one you like?</h4>
<p>Want to customise? Mix and match? Not a problem! Visit our <a href="/pages/custom-wardrobe-designs">Custom Wardrobe Designs</a> page and design your own unique design.</p>