<ul class="{{ icon-list-class }}">
	<li>
		<a title="Spacemaker on Instagram" class="{{ icon-link-class }}" href="//instagram.com/spacemakerwardrobes/" target="_blank">
			<span class="icon icon-instagram {{ icon-span-class }}"></span>
		</a>
	</li>
	<li>
		<a title="Spacemaker on Facebook" class="{{ icon-link-class }}" href="//www.facebook.com/Spacemaker.Wardrobes" target="_blank">
			<span class="icon icon-facebook-official {{ icon-span-class }}"></span>
		</a>
	</li>
	<li>
		<a title="Spacemaker on Google+" class="{{ icon-link-class }}" href="//plus.google.com/104305469433293369036" target="_blank">
			<span class="icon icon-google-plus {{ icon-span-class }}"></span>
		</a>
	</li>
	<li>
		<a title="Spacmaker on Twitter" class="{{ icon-link-class }}" href="//www.twitter.com/diywardrobes" target="_blank">
			<span class="icon icon-twitter {{ icon-span-class }}"></span>
		</a>
	</li>
	<li>
		<a title="Spacemaker on LinkedIn" class="{{ icon-link-class }}" href="//www.linkedin.com/company/spacemaker-wardrobes-pty-ltd" target="_blank">
			<span class="icon icon-linkedin {{ icon-span-class }}"></span>
		</a>
	</li>
</ul>