{% include 'global-door-tags' %}
<div class="container">
    <header>
        <div class="page-header">
            <h1>DIY Sliding Wardrobe Doors <small>features &amp; specifications</small></h1>
            <p class="lead">Why have a perfect wardrobe behind clunky, noisy or ugly doors? Spacemaker offers a selection of sliding wardrobe doors that work, are safe and beautify your space. We guarantee it.</p>
        </div>
    </header>

    <h2>Door Styles <small>click images to enlarge</small></h2>
    <p>Our range of door styles suit the needs of everyone: be it diy-er, budget concious or those who are seeking a premium product. Each set of doors are custom made to your specific width requirement.</p>

    <div class="row tooltips mb12">
        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/gyprock-2-doors-large_9c6652c0-860a-4ca7-9eef-b15c5db24583.jpg?10218" title="Raw Gyprock" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/gyprock-2-doors-thumb.jpg?10212" alt="Raw Gyprock" title="Raw Gyprock">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ paint_icon }}</li>
                    <li>{{ framed_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Raw Gyprock</h4>
                    <div itemprop="description">
                        <p>We supply these door inserts in completely raw gyprock.  You are then able to paint the doors your desired colour.  This option suits those who wish to create custom spaces or are budget conscious.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/vinyl-2-doors-large_f0897f24-2f26-410f-b47c-4307d19a519f.jpg?10218" title="Vinyl" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/vinyl-2-doors-thumb.jpg?10212" alt="Vinyl" title="Vinyl">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ clean_icon }}</li>
                    <li>{{ colours_icon }}</li>
                    <li>{{ framed_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Vinyl</h4>
                    <div itemprop="description">
                        <p>Vinyl doors are available in a range of colours. This option is good for easy maintenance and suits the budget conscious.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/colonial-2-doors-large_bfd6b890-2447-40c8-b969-f415eca2647d.jpg?10218" title="Colonial Style" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/colonial-2-doors-thumb.jpg?10212" alt="Colonial Style" title="Colonial Style">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ paint_icon }}</li>
                    <li>{{ styles_icon }}</li>
                    <li>{{ framed_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Colonial Style</h4>
                    <div itemprop="description">
                        <p>Colonial style doors are made of MDF and are supplied unpainted.  These unique products are available in many different profiles and particularly suit older style homes.  Colonial doors may be painted in any colour to create custom spaces.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row tooltips">
        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/framed-mirror-2-doors-large_9bcb3e07-9ce0-4e3e-b7f0-5d29f6ca0fd6.jpg?10218" title="Framed Mirror" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/framed-mirror-2-doors-thumb.jpg?10212" alt="Framed Mirror" title="Framed Mirror">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ clean_icon }}</li>
                    <li>{{ framed_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Framed Mirror</h4>
                    <div itemprop="description">
                        <p>Framed Mirrored doors are a good choice for those wishing to add light and space to a room.  Another benefit of these doors is their low-maintenance and ease of cleaning.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/frameless-mirror-2-doors-large_3e100500-ee89-4ca0-b7ef-9b360ca8869d.jpg?10218" title="Frameless Mirror" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/frameless-mirror-2-doors-thumb.jpg?10212" alt="Frameless Mirror" title="Frameless Mirror">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ clean_icon }}</li>
                    <li>{{ frameless_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Frameless Mirror</h4>
                    <div itemprop="description">
                        <p>Frameless Mirrored doors are a good choice for those wishing to add light and space to a room.  Another benefit of these doors is their low-maintenance and ease of cleaning.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="thumbnail" itemscope itemtype="//schema.org/Product">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/painted-glass-2-doors-large_79a9d0bf-66c9-4f02-a2cf-3ed834364bad.jpg?10218" title="Painted Glass" data-lightbox="doorstyles-set">
                    <img itemprop="image" src="//cdn.shopify.com/s/files/1/0232/0475/files/painted-glass-2-doors-thumb.jpg?10212" alt="Painted Glass" title="Painted Glass">
                </a>
                <ul class="list-unstyled list-inline list-tooltips tooltips">
                    <li>{{ clean_icon }}</li>
                    <li>{{ colours_icon }}</li>
                    <li>{{ framed_icon }}</li>
                    <li>{{ frameless_icon }}</li>
                </ul>
                <div class="caption">
                    <h4 itemprop="name">Painted Glass</h4>
                    <div itemprop="description">
                        <p>Painted Glass doors are available in a range of colours. These premium products are extremely durable, withstanding time and usage with ease and looking sensational in any space.</p>
                        {% include 'page-doors-cta' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h2>Photos <small>click images to enlarge</small></h2>
    <h4>Raw Gyprock</h4>
    {% include 'product-images-gyprock' %}

    <h4>Vinyl</h4>
    {% include 'product-images-vinyl' %}

    <h4>Colonial Style</h4>
    {% include 'product-images-colonial' %}

    <h4>Framed Mirror</h4>
    {% include 'product-images-framedmirror' %}

    <h4>Frameless Mirror</h4>
    {% include 'product-images-framelessmirror' %}

    <h4>Painted Glass</h4>
    {% include 'product-images-paintedglass' %}

    <hr>

    <h2>Features &amp; Benefits <small>click images to enlarge</small></h2>
    <div class="row thumbnails">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/secure-panels.jpg?10128" title="Secure panels" data-lightbox="doorfeatures-set">
                    <img src="//cdn.shopify.com/s/files/1/0232/0475/files/secure-panels-thumb.jpg?10125" alt="Secure panels" title="Secure panels">
                </a>
                <div class="caption">
                    <h4>Secure panels</h4>
                    <p>Our doors are made with an anti-jump feature, esuring the panels cannot jump the track. This provides quiet, rattle-free and safe operation.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/innovative-tracks.jpg?10128" title="Innovative tracks" data-lightbox="doorfeatures-set">
                    <img class="img-responsive" src="//cdn.shopify.com/s/files/1/0232/0475/files/innovative-tracks-thumb.jpg?10125" alt="Innovative tracks" title="Innovative tracks">
                </a>
                <div class="caption">
                    <h4>Innovative tracks</h4>
                    <p>Our unobtrusive, low-profile design tracks ensure smooth-sliding operation of the doors. Plus, it makes them easy to clean and prevents build up of dust.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="//cdn.shopify.com/s/files/1/0232/0475/files/smooth-roller-gliding.jpg?10128" title="Smooth roller gliding" data-lightbox="doorfeatures-set">
                    <img class="img-responsive" src="//cdn.shopify.com/s/files/1/0232/0475/files/smooth-roller-gliding-thumb.jpg?10125" alt="Smooth roller gliding" title="Smooth roller gliding">
                </a>
                <div class="caption">
                    <h4>Smooth roller gliding</h4>
                    <p>Large round rollers, combined with a strong metal adjustment bracket, ensure quiet operation and the ability to adjust the rollers for not-quite-square spaces.</p>
                </div>
            </div>
        </div>
    </div>

    <h2>What next?</h2>
    <p class="lead">Visit the online shop to find prices and to place your order:</p>
    <div>
        <a class="btn btn-primary btn-lg" href="/collections/sliding-wardrobe-doors">Order Online &raquo;</a>
    </div>
</div>