<div class="container">
	<header>
		<div class="page-header">
			<h1>Custom Wardrobe Designs</h1>
			<p class="lead">We can customise any of our existing designs or we can build something completely unique just for you.</p>
		</div>
	</header>

	<h2>Where do I start?</h2>
	<p>Planning a functional wardrobe is a simple process. Our goal is to create a wardrobe that is both functional and organised. To do this, we need to begin by gaining an uderstanding of the different components which make up a wardrobe;</p>

	<p class="text-center"><em>Wardrobe opening showing all wardrobe components</em> <br /><img class="img-responsive img-thumbnail" src="{{ 'wardrobe-components.png' | asset_img_url: 'master' }}" title="Wardrobe opening showing all wardrobe components" alt="Wardrobe opening showing all wardrobe components" ></p>

	<hr>

	<h3>Wardrobe Components</h3>
	<p>It is very important to figure out which wardrobe components you require and how much of each component you will need. Divide your clothes into each of the sections as follows:</p>

	<div class="row thumbnails">

		<div class="col-md-4">
			<a class="pull-left mr10">
				<img class="media-object" src="{{ 'long_dress_64px.png' | asset_img_url: 'master' }}" alt="Full Hanging" title="Full Hanging">
			</a>
			<div>
				<h4 class="media-heading">Full Hanging</h4>
				<p>Ideal for dresses and coats (up to 1700mm long)</p>
			</div>
		</div>

		<div class="col-md-4">
			<a class="pull-left mr10">
				<img class="media-object" src="{{ 'trousers_64px.png' | asset_img_url: 'master' }}" alt="3/4 Hanging" title="3/4 Hanging">
			</a>
			<div>
				<h4 class="media-heading">3/4 Hanging</h4>
				<p>Ideal for shorter dresses and trousers (up to 1500mm long)</p>
			</div>
		</div>

		<div class="col-md-4">
			<a class="pull-left mr10">
				<img class="media-object" src="{{ 'shirts_64px.png' | asset_img_url: 'master' }}" alt="Half Hanging" title="Half Hanging">
			</a>
			<div>
				<h4 class="media-heading">1/2 Hanging</h4>
				<p>Ideal for shirts and skirts (up to 1000mm long)</p>
			</div>
		</div>

		<div class="col-md-4">
			<a class="pull-left mr10">
				<img class="media-object" src="{{ 'folded_clothes_64px.png' | asset_img_url: 'master' }}" alt="Wardrobe Shelving" title="Wardrobe Shelving">
			</a>
			<div>
				<h4 class="media-heading">Shelving</h4>
				<p>Ideal for folded items such as t-shirts and shorts</p>
			</div>
		</div>

		<div class="col-md-4">
			<a class="pull-left mr10">
				<img class="media-object" src="{{ 'underwear_64px.png' | asset_img_url: 'master' }}" alt="Wardrobe Drawers" title="Wardrobe Drawers">
			</a>
			<div>
				<h4 class="media-heading">Drawers</h4>
				<p>Ideal for storing socks and underwear</p>
			</div>
		</div>
	</div>

	<p><span class="label label-info">Tip:</span> A good way to figure out how much hanging space you need is to hang the clothes on an existing hanging rod and with a tape measure, measure how much space they take up.</p>

	<hr>

	<h2>Wardrobe Layouts</h2>

	<p>How you plan your wardrobe will depend on the type of wardrobe layout you have to work with. Although wardrobe openings may be different shapes and sizes, all wardrobes usually follow the same basic layout shapes. The most common layout shapes are as follows:</p>

	<h3>Built-in Wardrobe Layouts</h3>
	<div class="row thumbnails">

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-standard.png' | asset_img_url: 'master' }}" alt="Standard Wardrobe Opening" title="Standard Wardrobe Opening">
				<div class="caption">
					<h4>Standard Opening</h4>
					<p>An existing wardrobe opening which requires shelving only.</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-straight.png' | asset_img_url: 'master' }}" alt="Straight Wall Wardrobe Opening" title="Straight Wall Wardrobe Opening">
				<div class="caption">
					<h4>Straight Wall</h4>
					<p>A straight wall which requires shelving and panels either side to enclose the wardrobe.</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-lcnr.png' | asset_img_url: 'master' }}" alt="Corner to the left wardrobe opening" title="Corner to the left wardrobe opening">
				<div class="caption">
					<h4>Corner Opening (Left)</h4>
					<p>A corner to the left which requires shelving and a panel on the right hand side to enclose the wardrobe.</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-rcnr.png' | asset_img_url: 'master' }}" alt="Corner to the right wardrobe opening" title="Corner to the right wardrobe opening">
				<div class="caption">
					<h4>Corner Opening (Right)</h4>
					<p>A corner to the right which requires shelving and a panel on the left hand side to enclose the wardrobe.</p>
				</div>
			</div>
		</div>
	</div>

	<h3>Walk-in Wardrobe Layouts</h3>
	<div class="row thumbnails">

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-ushape.png' | asset_img_url: 'master' }}" alt="U shaped walk in wardrobe" title="U shaped walk in wardrobe">
				<div class="caption">
					<h4>U Shaped</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-gshape.png' | asset_img_url: 'master' }}" alt="G shaped walk in wardrobe" title="G shaped walk in wardrobe">
				<div class="caption">
					<h4>G Shaped</h4>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="thumbnail">
				<img class="img-responsive" src="{{ 'collection-wardrobe-categories-walkthrough.png' | asset_img_url: 'master' }}" alt="Walk through walk in wardrobe" title="Walk through walk in wardrobe">
				<div class="caption">
					<h4>Walk-through</h4>
				</div>
			</div>
		</div>
	</div>

	<hr>

	<h2>Designing the perfect wardrobe</h2>

	<h3>The wardrobe planner</h3>
	<p>We have prepared the following documents which will assist you with planning and designing your wardrobe:</p>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>MS Excel 97-2003 .xls format</th>
				<th>MS Excel 2007-current .xlsx format</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a class="btn btn-primary" href="{{ '2013-04-12-Custom-Wardrobe-Designer_distributed.xls' | file_url }}" title="Download Wardrobe Planner in MS Excel 97-2003 format">
						<span class="icon icon-download"></span>&nbsp;Wardrobe Planner (178.5 kB)
					</a>
				</td>
				<td>
	    			<a class="btn btn-primary" href="{{ '2013-04-12-Custom-Wardrobe-Designer_distributed.xlsx' | file_url }}" title="Download Wardrobe Planner in MS Excel 2007-current format">
						<span class="icon icon-download"></span>&nbsp;Wardrobe Planner (21.7 kB)
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<p><span class="label label-info">Heads up!</span> When you open the file in Excel, you may see the message below:</p>
	<p><img class="img-responsive" src="{{ 'excel-protected-view.png' | asset_img_url: 'master' }}"></p>
	<p>In order to use the document, you need to click the <em>Enable Editing</em> button. Don't worry, our files are stored in on a secure server and transferred with SSL encryption.</p>

	<h3>Some important things to take into consideration:</h3>

	<h4>Working out your dimensions</h4>
	<p>Don't know how to measure your wardrobe? Check out our <a href="/pages/support">how to meausre guides</a> on our support page.</p>

	<h4>Style of doors</h4>
	<p>It is important to consider the style of doors that you are planning for your wardrobe, as the doors will have an impact on the design of your wardrobe. For example, two sliding doors will prevent a wardrobe design from having a central drawer box. Alternatively, hinged doors will enable you to choose a drawer box in the centre of the opening (please note that Spacemaker Wardrobes only supply sliding wardrobe doors).</p>

	<h4>Number of people</h4>
	<p>How many people are going to be using the wardrobe (for example, do you need 'His' and 'Hers' sections?). We recommend dividing the wardrobe so that each person has their own section.</p>

	<hr>

	<h2>What next?</h2>
	<p>Email us your designs using our <a href="/pages/contact">contact form</a> and we will send you a quotation. Please include as much information as possible including any photos of your wardrobe / wardrobe door opening.</p>
	<p>You may also want to have a look at our existing <a href="/collections/wardrobes">flat pack wardrobe designs and pricing &raquo;</a>.
</div>