<div class="container">
	<header>
	    <div class="page-header">
	    	{% include 'global-icons-share' %}
	        <h1>How to measure <small>diy sliding wardrobe doors</small></h1>
	        <p class="lead">Accurate measurements are vital to ensure your new sliding wardrobe doors fit perfectly. Fortunately, obtaining accurate measurements is easy if you follow the steps outlined in this guide.</p>
	    </div>
	</header>

	<blockquote>
		<p>You do not need to adjust your measurements for door overlap or do any calculations; we will do all of this for you. All you need to do is provide us with the overall measurements of the wardrobe door opening.</p>
	</blockquote>

	<hr>

	<h2>Requirements</h2>
	<ul>
	    <li>Tape measure</li>
	    <li>Pen / pencil</li>
	    <li>Preferable: spirit level (a spirit level will allow you to determine if your floor is not level).</li>
	</ul>

	<hr>

	<div class="row">
		<div class="col-md-8">
			<h3>1: Measure the height of the opening</h3>
			<p>Measure both the left hand and right hand heights.</p>
			<p>The doors will be made to the smallest measurement provided to ensure that they are able to slide both ways.</p>
		</div>
		<div class="col-md-4">
			<a class="thumbnail" href="{{ 'measure-height-large.jpg' | asset_img_url: 'grande' }}" title="Measure both the left hand and right hand heights." data-lightbox="howtomeasure-set">
				<img src="{{ 'measure-height-large.jpg' | asset_img_url: 'large' }}" alt="Measure both the left hand and right hand heights.">
				<p class="text-center mt12">Click image to enlarge.</p>
			</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-8">
		    <h3>2: Measure the width of the opening</h3>
		    <p>When measuring the width, the best way to get accurate measurements is to follow these steps:</p>
		    <ol>
		        <li>From one side, measure out to 1000mm (1 metre) and make a small mark with your pen / pencil.</li>
		        <li>Next, from the opposite side, measure the distance to the 1000mm mark.</li>
		        <li>By adding these two measurements together, you will get a very accurate width measurement.</li>
		    </ol>
		    <p>Measure in two places, both at the top and bottom. If there is a significant difference (i.e. more than 5mm) between the top and bottom widths, we will need to know which side is out of plumb (not straight vertically) so that the doors can be made to suit your opening.</p>
		</div>
	    <div class="col-md-4">
	    	<a class="thumbnail" href="{{ 'measure-from-right-large.jpg' | asset_img_url: 'grande' }}" title="From one side, measure out to 1000mm (1 metre) and make a small mark" data-lightbox="howtomeasure-set">
				<img src="{{ 'measure-from-right-large.jpg' | asset_img_url: 'large' }}" alt="From one side, measure out to 1000mm (1 metre) and make a small mark">
				<p class="text-center mt12">From one side, measure out to 1000mm (1 metre) and make a small mark.</p>
			</a>

			<a class="thumbnail" href="{{ 'measure-from-left-large.jpg' | asset_img_url: 'grande' }}" title="From the opposite side, meausure the distance to the 1000mm mark" data-lightbox="howtomeasure-set">
				<img src="{{ 'measure-from-left-large.jpg' | asset_img_url: 'large' }}" alt="From the opposite side, meausure the distance to the 1000mm mark">
				<p class="text-center mt12">From the opposite side, meausure the distance to the 1000mm mark.</p>
			</a>
		</div>
	</div>

	<hr>

	<h2>Additional things to consider:</h2>

	<div class="row">
		<div class="col-md-8">
			<h3>Check if the floor is level</h3>
			<p>Use a spirit level to ascertain how level the floor is. If the floor is significantly uneven (more than 3mm over a 1500mm span), your doors may slide to the lowest point.</p>
			<p>A good technique for measuring levelness is to place some coins under the lowest end of the level until the bubble is centered. Depending on which coins are used, you will be able to get a very accurate measurement by using the following information;</p>
			<ol>
			    <li>5 cent coins are 1mm thick</li>
			    <li>10 cent coins are 1.5mm thick</li>
			    <li>20 cent coins are 2mm thick</li>
			    <li>50 cent coins are 2.5mm thick</li>
			    <li>1 dollar coins are 2.5mm thick</li>
			</ol>
			<p>For example, if you needed to use two 20 cent coins and one 5 cent coin to centre the bubble, your floor would be 5mm out of level.</p>
			<p>If your floor is <em>not</em> level, a good option is to install a floor batten. The floor batten would need to be either packed up or planed down to make it level.</p>
			<p>If you require a floor batten, please let us know and we can supply you one with your order for free.</p>
		</div>
		<div class="col-md-4">
			<a class="thumbnail" href="{{ 'check-levelness-large.jpg' | asset_img_url: 'grande' }}" title="Check the levelness of the floor" data-lightbox="howtomeasure-set">
				<img src="{{ 'check-levelness-large.jpg' | asset_img_url: 'large' }}" alt="Check the levelness of the floor">
				<p class="text-center mt12">Click image to enlarge.</p>
			</a>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-8">
		    <h3>Measure the door jambs (top, bottom &amp; sides)</h3>
		    <p>Measure the door jambs (top, bottom &amp; sides) and make sure that they are at least 83mm wide. This is to ensure that the top and bottom tracks will actually fit in the opening.</p>
		</div>
	    <div class="col-md-4">
	    	<a class="thumbnail" href="{{ 'measure-door-jambs-large.jpg' | asset_img_url: 'grande' }}" title="Measure the door jambs (top, bottom &amp; sides)" data-lightbox="howtomeasure-set">
				<img src="{{ 'measure-door-jambs-large.jpg' | asset_img_url: 'large' }}" alt="Measure the door jambs (top, bottom &amp; sides)">
				<p class="text-center mt12">Measure the door jambs (top, bottom &amp; sides)</p>
			</a>
		</div>
	</div>

	<hr>

	<h2>Important Information</h2>
	<ul>
	    <li>If the new doors are to be installed on carpet, you will be required to fit a 90 x 19 floor batten on top of the carpet between the jambs for the doors to roll on. This will be supplied for free</li>
	    <li>Door tracks can be fixed directly onto timber floors, door jambs and tiled floors.</li>
	</ul>

	<hr>

	<h2>What next?</h2>
	<p class="lead">Visit the online shop to find prices and to place your order:</p>
	<div>
	    <a class="btn btn-primary btn-lg" href="/collections/sliding-wardrobe-doors">Order Online &raquo;</a>
	</div>
</div>