<h4><span class="icon icon-style"></span>&nbsp;Colonial Styles <small>click to enlarge</small></h4>
<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '01-buckingham.png' | asset_img_url: 'grande' }}" title="Buckingham" data-fancybox="colonialstyles-set" data-caption="Buckingham">
      <img src="{{ '01-buckingham.png' | asset_img_url: 'medium' }}" alt="Buckingham" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '02-rochester.png' | asset_img_url: 'grande' }}" title="Rochester" data-fancybox="colonialstyles-set" data-caption="Rochester">
      <img src="{{ '02-rochester.png' | asset_img_url: 'medium' }}" alt="Rochester" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '03-windsor.png' | asset_img_url: 'grande' }}" title="Windsor" data-fancybox="colonialstyles-set" data-caption="Windsor">
      <img src="{{ '03-windsor.png' | asset_img_url: 'medium' }}" alt="Windsor" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '04-sandringham.png' | asset_img_url: 'grande' }}" title="Sandringham" data-fancybox="colonialstyles-set" data-caption="Sandringham">
      <img src="{{ '04-sandringham.png' | asset_img_url: 'medium' }}" alt="Sandringham" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '05-cromwell.png' | asset_img_url: 'grande' }}" title="Cromwell" data-fancybox="colonialstyles-set" data-caption="Cromwell">
      <img src="{{ '05-cromwell.png' | asset_img_url: 'medium' }}" alt="Cromwell" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '06-hastings.png' | asset_img_url: 'grande' }}" title="Hastings" data-fancybox="colonialstyles-set" data-caption="Hastings">
      <img src="{{ '06-hastings.png' | asset_img_url: 'medium' }}" alt="Hastings" >
    </a>
  </div>

</div>

<hr>

<h4 id="routingprofile"><span class="icon icon-style"></span>&nbsp;Routing Profile <small>click to enlarge</small></h4>
<div class="row thumbnails">
  <div class="col-md-4 mb12">
    <a class="thumbnail" href="{{ 'colonial-routing-profile-vj.png' | asset_img_url: 'grande' }}" title="Colonial Routing Pattern - V Groove (VJ)" data-fancybox="routingpattern" data-caption="Colonial Routing Pattern - V Groove (VJ)">
      <img src="{{ 'colonial-routing-profile-vj.png' | asset_img_url: 'large' }}" alt="Colonial Routing Pattern - V Groove (VJ)">
    </a>
  </div>
  <div class="col-md-8">
    <dl class="dl-horizontal">
      <dt>Routing Profile:</dt>
      <dd>V Groove (VJ)</dd>
      <dt>Materials:</dt>
      <dd>9mm routed MDF (medium density fibreboard)</dd>
      <dt>Finish:</dt>
      <dd>Raw MDF - ready for you to paint</dd>
    </dl>
  </div>
</div>