<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '01-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Frameless Painted Glass Sliding Wardrobe Doors - Green on left, Pure White on right" data-lightbox="paintedglassgallery-set">
      <img src="{{ '01-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Frameless Painted Glass Sliding Wardrobe Doors - Green on left, Pure White on right">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '02-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Framed Painted Glass Sliding Wardrobe Doors - Pure White on left, Mirror on right, Matt Natural Frames" data-lightbox="paintedglassgallery-set">
      <img src="{{ '02-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Framed Painted Glass Sliding Wardrobe Doors - Pure White on left, Mirror on right, Matt Natural Frames">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '03-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Framed Painted Glass Sliding Wardrobe Doors - Matt Natural Frames, Almond Glass" data-lightbox="paintedglassgallery-set">
      <img src="{{ '03-painted-glass-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Framed Painted Glass Sliding Wardrobe Doors - Matt Natural Frames, Almond Glass">
    </a>
  </div>
</div>