<h4><span class="icon icon-paint-bucket"></span>&nbsp;Frame Colours <small>click to enlarge</small></h4>
<p><b>Frame Style:</b> <span class="label label-info">Framed</span>{% if product.tags contains 'frameless' %} or <span class="label label-info">Frameless</span>{% endif %}</p>
<div class="row thumbnails">
  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'cream.jpg' | asset_img_url: 'grande' }}" title="Cream" data-fancybox="framecolours-set" data-caption="Cream">
      <img src="{{ 'cream.jpg' | asset_img_url: 'medium' }}" alt="Cream" >
    </a>
  </div>

  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'black.jpg' | asset_img_url: 'grande' }}" title="Black" data-fancybox="framecolours-set" data-caption="Black">
      <img src="{{ 'black.jpg' | asset_img_url: 'medium' }}" alt="Black" >
    </a>
  </div>

  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'white.jpg' | asset_img_url: 'grande' }}" title="White" data-fancybox="framecolours-set" data-caption="White">
      <img src="{{ 'white.jpg' | asset_img_url: 'medium' }}" alt="White" >
    </a>
  </div>

  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'chrome.jpg' | asset_img_url: 'grande' }}" title="Chrome" data-fancybox="framecolours-set" data-caption="Chrome">
      <img src="{{ 'chrome.jpg' | asset_img_url: 'medium' }}" alt="Chrome" >
    </a>
  </div>

  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'matt-natural.jpg' | asset_img_url: 'grande' }}" title="Matt Natural" data-fancybox="framecolours-set" data-caption="Matt Natural">
      <img src="{{ 'matt-natural.jpg' | asset_img_url: 'medium' }}" alt="Matt Natural" >
    </a>
  </div>

  <div class="col-md-3 mb12">
    <a class="thumbnail" href="{{ 'almond.jpg' | asset_img_url: 'grande' }}" title="Almond" data-fancybox="framecolours-set" data-caption="Almond">
      <img src="{{ 'almond.jpg' | asset_img_url: 'medium' }}" alt="Almond" >
    </a>
  </div>
</div>