<h4><span class="icon icon-paint-bucket"></span>&nbsp;Vinyl Colours <small>click to enlarge</small></h4>
<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '01-glacier-white.jpg' | asset_img_url: 'grande' }}" title="Glacier (white)" data-fancybox="vinylcolours-set" data-caption="Glacier (white)">
      <img src="{{ '01-glacier-white.jpg' | asset_img_url: 'medium' }}" alt="Glacier (white)" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '02-chalk.jpg' | asset_img_url: 'grande' }}" title="Chalk" data-fancybox="vinylcolours-set" data-caption="Chalk">
      <img src="{{ '02-chalk.jpg' | asset_img_url: 'medium' }}" alt="Chalk" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '03-white-birch.jpg' | asset_img_url: 'grande' }}" title="White Birch" data-fancybox="vinylcolours-set" data-caption="White Birch">
      <img src="{{ '03-white-birch.jpg' | asset_img_url: 'medium' }}" alt="White Birch" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '04-buff.jpg' | asset_img_url: 'grande' }}" title="Buff" data-fancybox="vinylcolours-set" data-caption="Buff">
      <img src="{{ '04-buff.jpg' | asset_img_url: 'medium' }}" alt="Buff" >
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '05-cameo.jpg' | asset_img_url: 'grande' }}" title="Cameo" data-fancybox="vinylcolours-set" data-caption="Cameo">
      <img src="{{ '05-cameo.jpg' | asset_img_url: 'medium' }}" alt="Cameo" >
    </a>
  </div>

</div>

<hr>

<h4><span class="icon icon-columns"></span>&nbsp;Recommended Colour Combinations</h4>

<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>&#35;</th>
            <th>Frame Colour</th>
            <th>Vinyl Colour</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Cream</td>
            <td>Chalk</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Cream</td>
            <td>White Birch</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Cream</td>
            <td>Buff</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Almond</td>
            <td>Cameo</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Matt Natural</td>
            <td>All</td>
          </tr>

          <tr>
            <td>6</td>
            <td>Chrome</td>
            <td>All</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>