<div class="row thumbnails">
  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '01-framed-mirror-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert" data-lightbox="vinylgallery-set">
      <img src="{{ '01-framed-mirror-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '02-framed-mirror-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert" data-lightbox="vinylgallery-set">
      <img src="{{ '02-framed-mirror-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Framed Mirror and Vinyl Sliding Wardrobe Doors - White Frames, Glacier Insert">
    </a>
  </div>

  <div class="col-md-2 mb12">
    <a class="thumbnail" href="{{ '03-framed-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'grande' }}" title="Framed Vinyl Sliding Wardrobe Doors - Almond Frames, Chalk Insert" data-lightbox="vinylgallery-set">
      <img src="{{ '03-framed-vinyl-sliding-wardrobe-doors.jpg' | asset_img_url: 'medium' }}" alt="Framed Vinyl Sliding Wardrobe Doors - Almond Frames, Chalk Insert">
    </a>
  </div>
</div>